body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color:papayawhip
}

input{
    border:2px solid greenyellow;
    border-radius:7px;
}

button{
    background-color:whitesmoke;
}


.container{
    margin: auto;
    margin-top:100px;
    padding-bottom:30px;
    height:80%;;
    width:400px;
    border:3px solid burlywood;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

